.hero{
    display: flex;
    justify-content: center;
}

.card-base{
    display: flex;
    justify-content: center;
    transform: translateY(-70px);
    gap: 1rem;
}

.card-base .cards-h{
    width: 20rem;
    height: 25rem;
    box-shadow: 1px -1px 15px rgba(79, 79, 79, 0.5);
    cursor: pointer;
}

.cards-h img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cards-h h2{
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.phones{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: burlywood;
    gap: 10px;
    margin-bottom: 2rem ;
    position: relative;
}

.phones h1{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.phones img{
    width: 11rem;
    height: 20rem;
    object-fit: cover;
    cursor: pointer;
}