.listing-card{
    display: flex;
    border: 1px solid black;
    flex: 1;
    height: 18rem;
}

.listing-card .img{
    width: 16.099rem;
    height: 18rem;
    border-right: 1px solid grey;
} 

.details{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px 10px;
    overflow: hidden;
}

.details .name{
    font-size: 1.5rem;
    font-weight: 500;
}

.details .price{
    font-size: 1.8rem;
}

.details .price span{
    font-size: 1rem;
    font-weight: 400;
    color: grey;
}