.success{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #a9a9a9;
}

.loader {
    height: 200px;
    width: 200px;
    border: 20px solid transparent;
    border-radius: 50%;
    border-top: 20px solid cornflowerblue;
    border-bottom: 20px solid cornflowerblue;
    animation: loader 1s infinite linear;
}


.status{
    color:white;
    border-radius: 50%;
}
.status-green{
    background-color: yellowgreen;
    padding: 6rem 2rem;
}

.status-red{
    background-color: red;
    padding: 5rem 2rem;
}

.status-green h1, .status-red h1{
    text-align: center;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}